<div *ngIf="receivedData">
<div class="container">
    <h1>To-Do List App  </h1>
    
</div>

<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Item_ID</th>
          <th class="tablecol-700">Item Description</th>
          <th>Item Status</th>
          <th>Actions</th>
          <form #f="ngForm" (ngSubmit)="newItem()" novalidate>
              <button>Create Item</button>
              </form>
              <form #f="ngForm" (ngSubmit)="logOut()" novalidate>
                  <button>Log Out</button>
                  </form>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <td>{{ i }}</td>
          <td>{{ item.item_id }}</td>
          <td>{{ item.item_desc }}</td>
          <td>{{ item.item_status }}</td>
          <td class="tablecol-700">
            
                  <form #f="ngForm" (ngSubmit)="removeItem(item.item_id)" novalidate>
                     <button>Remove</button>
                     </form>
                     <form #f="ngForm" (ngSubmit)="markDone(item.item_id)" novalidate>
                         <button>Mark Done</button>
                         </form>
             
          </td>
        </tr>
      </tbody>
  </table>
</div>